@page
@model TeamBlog.Pages.Articles.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="text-center my-5">
        <h1 class="fw-bolder">Welcome to TeamBlog Home!</h1>
        <p class="lead mb-0">A Bootstrap 5 starter layout for your next blog homepage</p>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].OwnerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].IsFeatured)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].PubDate)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Article)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @*                    @Html.DisplayFor(modelItem => item.OwnerID)
                    *@                    @Html.Raw(ViewBag.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFeatured)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PubDate)
                </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(
                   User, item,
                   ArticleOperations.Update)).Succeeded)
                    {
                        <a asp-page="./Edit" asp-route-id="@item.ArticleID">Edit</a>
                        <text> | </text>

                    }

                    @if ((await AuthorizationService.AuthorizeAsync(
                   User, item,
                   ArticleOperations.Delete)).Succeeded)
                    {
                        <a asp-page="./Delete" asp-route-id="@item.ArticleID">Delete</a>
                        <text> | </text>
                    }

                    <a asp-page="./Details" asp-route-id="@item.ArticleID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
